#### POSTGRES
POSTGRES_DB=postgres_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_pass
POSTGRES_PORT=5432
POSTGRES_HOST=local_database
DEBUG=true
JWT_SECRET=fghjkblfghkf63fgh5fg5h6fgh65fg5hfgh56fgh6fgh56fgh65
JWT_ALGORITHM=HS256
SENTRY=gfdgfdgdfgdfgdfg
BACKEND_API=http://backend_api:9999/api/
RMQ_HOST=kebnekaise-01.lmq.cloudamqp.com
RMQ_PORT=5671
RMQ_VIRTUAL_HOST=fwhlxvuo
RMQ_USER=fwhlxvuo
RMQ_PASSWORD=BfVFveVU8szNHyJbovNq2PubPdozpQVR

TOKEN_UKR_NET=wghhfghNdWShgfhzWwThgfhfgUhx3cK
USER=example@ukr.net
SMTP_SERVER=smtp.ukr.net

#s3
ACCESS_KEY = 'asdwe133'
SECRET_KEY = 'szxcddqws1313daw123r1'
BUCKET_NAME = 'sczxdwqe'
ENDPOINT = 'https://adsdd1313sdadasad.r2.cloudflarestorage.com/daxas131321'
PUBLIC_URL = 'https://pub-dasdasdxzcasdasd.r2.dev'
